[2018-01-11 22:39] benlk opened #1 "Database migration"

[2018-01-11 22:41] benlk opened #2 "Post-import config ticket"
Leave comments here in the form of checklists, covering things that need to be done manually to the site:

- [x] Term Debt Consolidator run
- [x] Term Debt Consolidator deactivate
- [x] check for uploads to MWEN/SEEN that are not in the respective `sites/##/` folders
- [x] activate other plugins
- [ ] navigation cleanup
- [x] update homepage layout
- [x] change default post-template to two-column

[2018-01-11 22:43] benlk opened #3 "put Region in the URL"

[2018-01-11 22:43] benlk opened #4 "Redirection permalinks"

[2018-01-12 13:57] #3 closed, assigned to nobody

[2018-01-12 15:11] julia-smith opened #5 "Theme changes"
- [x] update logo svg
- [x] rename theme for us energy news

[2018-01-12 16:09] benlk opened #6 "Something in the region taxonomy plugin's register_taxonomy is breaking page permalinks."
When the register_taxonomy part of the plugin runs, permalinks are broken for pages.

The thing is enabled and disabled not when the register_taxonomy function is enabled or disabled, but only after pressing "Save" on the Permalinks options page.

[2018-01-12 16:43] julia-smith opened #7 "Combine newsletter sign-up widgets"
**From Rob:** Please add Southwest and Northeast as options to this dialog box from the Energy News Network homepage. Southwest and Northeast are segments within our “All Digest Subscribers” mailing list in MailChimp.

[2018-01-12 20:47] #1 closed, assigned to nobody

[2018-01-12 20:54] #5 closed, assigned to nobody

[2018-01-12 22:10] benlk opened #8 "Instructions for setting region-specific sidebar for region posts"
- [ ] docs
- [x] create sidebars
- [x] Make sure regions have correct sidebar.

[2018-01-12 22:14] benlk opened #9 "Upgrade link roundups widget"
- [x] draw from regions, not from LR categories
- [x] genericize name

[2018-01-12 22:19] benlk opened #10 "Region archive templates"
make them look like the homepage:

- Featured at top, sidebar.
- Rows of 3-2 alternating posts, LMP at bottom
- Make sure that region has regional logos

[2018-01-12 22:23] benlk opened #11 "Make this repo public"
- [x] rename to umbrella-energynewsnetwork
- [x] get people to `git set-url origin ` the new repo .git location
- [x] make public

[2018-01-12 23:25] benlk opened #12 "Rename Slack integration"
Julia, can you change that github integration's name to `INN/umbrella-usenergynews`, please? It prevents "what is this integration" fatigue when looking at the list of active integrations.

[2018-01-12 23:46] #12 closed, assigned to julia-smith

[2018-01-13 00:12] #6 closed, assigned to benlk

[2018-01-16 18:08] benlk opened #15 "s/US Energy News/Energy News Network/g"

[2018-01-16 18:41] #10 closed, assigned to julia-smith

[2018-01-16 18:46] julia-smith opened #16 "Add load-more button to taxonomy-region.php"
`taxonomy-region.php` is currently lacking a functional load-more button. The button html is commented out here: https://github.com/INN/umbrella-usenergynews/blob/8d9158b03e5a3deaa5b833b524e240bd2f3ec2f5/wp-content/themes/midwestenergynews/taxonomy-region.php#L178-L182

See [`mwen-zones.php`](https://github.com/INN/umbrella-usenergynews/blob/8d9158b03e5a3deaa5b833b524e240bd2f3ec2f5/wp-content/them

[2018-01-16 19:52] julia-smith opened #17 "Avoid duplicates on category archives"
`category.php` has been updated to limit the featured post to the selected region, but the river needs to be updated to not display stories that have been displayed in the featured sections: https://github.com/INN/umbrella-usenergynews/blob/673a605d351cbb20fdf55359fcdf2e9c6ced175b/wp-content/themes/midwestenergynews/category.php#L122-L148

Please also review the [`mwen_get_featured_posts_in_catego

[2018-01-17 00:15] #9 closed, assigned to benlk

[2018-01-17 15:20] julia-smith opened #19 "Floating social media buttons are misaligned"
In **Chrome**, the social media buttons appear like this:

<img width="80" alt="screen shot 2018-01-17 at 9 12 23 am" src="https://user-images.githubusercontent.com/1643734/35049862-f5ad2672-fb66-11e7-9038-634f891054b8.png">

In **Firefox**, they don't appear at all.

In **Safari**, they appear as expected:

<img width="133" alt="screen shot 2018-01-17 at 9 14 42 am" src="https://user-images.githu

[2018-01-17 18:30] kaylima opened #20 "Configure popup"
1. Go to: https://usenergynews.wpengine.com/

RESULT: no popup
EXPECT: live site has a popup

[2018-01-17 18:31] kaylima opened #21 "Update coverage regions in "About""
1. Go to: https://usenergynews.wpengine.com/about/
2. Look at “coverage regions” in right sidebar

RESULT: only shows Midwest and Southeast
EXPECT: should have 2 new regions added as links as well

[2018-01-17 18:33] kaylima opened #22 "Broken image for books and hierarchy Qs"
1. Go to: https://usenergynews.wpengine.com/books/

RESULT: empowered cover image broken

NOTE: This goes to a specific book detail page rather than a listing page of books like the other drop-down options for Midwest in the main nav. Not sure if that's the intended user flow for this section. Also, should the URL be something like /midwest/books? Or, should this be moved to a top level nav item?

[2018-01-17 18:35] kaylima opened #23 "Midwest section, long excerpts"
1. Go to: https://usenergynews.wpengine.com/region/midwest/
2. Look at the 3 columns of stories under the top featured story

RESULT: Two of the posts are showing long excerpts
EXPECT: The live site only shows an image and the byline and no excerpt

NOTE: is this set up this way because not all of the posts have images? If so, can we shorten the excerpts? This is also happening with the final 2 st

[2018-01-17 18:35] kaylima opened #24 "Header images and featured stories overlapping"
5. Go to: https://usenergynews.wpengine.com/region/midwest/

RESULT: Featured story is covering the header/banner image for “MIDWEST ENERGY NEWS”
EXPECT: Featured story needs to move below the header/banner image

NOTE: Same for Southeast

[2018-01-17 18:36] kaylima opened #25 "Newsletter signup tweaks on search results page"
1. Go to: https://usenergynews.wpengine.com/?s= and look at the newsletter sign up

RESULT: Asks for email and zip code and gives checkboxes for “Midwest Headlines” and “National Headlines”

EXPECT: 1. Do we need the zip? It’s not on the live site. 2. Should the newsletter checkbox options be updated to reflect all the regions?

[2018-01-17 18:38] kaylima opened #26 "Southeast newsletter signup tweaks"
1. Go to: https://usenergynews.wpengine.com/region/southeast/
2. Look at the newsletter signup box in the right sidebar of homepage

RESULT: Checkboxes for “Midwest” and “National”
EXPECT: “Southeast Energy News” and “National Updates” (what's currently on the live site)

NOTE: This needs to be updated in all subpages as well (Southeast > News and Southeast > Opinion) or, hopefully, they all use t

[2018-01-17 18:39] kaylima opened #27 "RSS Subscribe, keep?"
1. Go to: https://usenergynews.wpengine.com/region/southeast/

RESULT: RSS “SUBSCRIBE” in upper right corner
EXPECT: Live site does not have the subscribe link there

NOTE: Same for https://usenergynews.wpengine.com/region/midwest/

[2018-01-17 18:41] kaylima opened #28 ""More posts" post formatting"
1. Go to: https://usenergynews.wpengine.com/region/southeast/
2. Click "More posts"

RESULT: More posts show, but don't keep the 3 column then 2 column formatting like the staging homepage does when you click "More posts"
EXPECT: Posts that appear after clicking "More posts" should follow the formatting/template for posts

NOTE: same for Midwest

[2018-01-17 18:43] #28 closed, assigned to nobody

[2018-01-17 18:47] kaylima opened #29 "Donation page tweaks"
1. Go to: https://usenergynews.wpengine.com/support/

RESULT: Link to support at top, then "donate as an organization" button, which is a bit confusing
EXPECT: I'd add a "donate as an individual" button there as well, just to be extra clear.

NOTE: Also, "support" is a bit vague and they may want to A/B test against "donate" or "support us"

[2018-01-17 18:51] kaylima opened #30 "Update social media links"
1. Go to: https://usenergynews.wpengine.com/support/
2. Look at social media links in right sidebar
3. Look at social media icon links in footer

RESULT: they all link to "Midwest Energy" accounts
EXPECT: should link to Energy News Network accounts

[2018-01-18 15:06] #16 closed, assigned to benlk

[2018-01-18 15:13] #20 closed, assigned to nobody

[2018-01-18 21:04] #17 closed, assigned to benlk

[2018-01-19 18:17] #15 closed, assigned to benlk

[2018-01-19 18:31] #22 closed, assigned to nobody

[2018-01-19 18:31] #27 closed, assigned to nobody

[2018-01-19 18:34] #24 closed, assigned to nobody

[2018-01-19 18:38] #26 closed, assigned to nobody

[2018-01-19 18:42] #23 closed, assigned to nobody

[2018-01-23 19:04] benlk opened #34 "Enable Largo-style custom sidebars on "region" taxonomy term edit pages"
See what's mentioned here: http://support.inn.org/article/62-categories

Related to #8.

[2018-01-23 22:54] julia-smith opened #35 "Digest tab disappeared"
From the ENN managing editor: "I'm not seeing the digest tab in the WP Admin dashboard anymore..."

[2018-01-23 23:03] #35 closed, assigned to benlk

[2018-01-24 00:05] #34 closed, assigned to benlk

[2018-01-25 21:29] benlk opened #37 "add top term meta box to link roundups"
For Help Scout [1705](https://secure.helpscout.net/conversation/512135238/1705/?folderId=1219602), make the top term adjustable on roundups.

[2018-01-26 19:31] #11 closed, assigned to nobody

[2018-01-26 22:53] benlk opened #38 "MORI isn't saving things properly"
The following URL

where `posts-from-site-id-64` is the slug of a term in the region taxonomy

Might match one of these rules from `$wp_rewrite->wp_rewrite_rules()`:

[code]

It's matching `'(.?.+?)(?:/([0-9]+))?/?$'` which should go into the pattern `'index.php?pagename=$matches[1]&page=$matches[2]'`, which is wrong - this isn't a page.

I have a sneaking suspicion that this is because of the pag

[2018-01-26 22:55] benlk commented on #38
Marking as "priority:normal" because they have a workaround of just putting the link in the body of the impact for now.

[2018-01-26 22:55] benlk commented on #38
https://github.com/INN/umbrella-energynewsnetwork/pull/13/files#diff-f542ba7470f670af4d63455c212de9f8R146 needs something like a "only do this if we're not saving at this moment" exception.

[2018-01-31 16:01] benlk commented on #38
url_to_postid loops over all of the `$wp_rewrite->wp_rewrite_rules()` and tries the URL against all regular expressions, responding with the first one it matches. So if there's a rewrite rule that matches `'(.?.+?)(?:/([0-9]+))?/?$'` and feeds into `'index.php?region=$matches[1]&post=$matches[2]'`, or something like that, it should be moved to before the page rule.

But there isn't even one of tho

[2018-01-31 16:36] benlk commented on #38
Correction: the rewrite rule exists that should catch this. This ought to be being caught by the page-number-optional aspect of

[code]

But it's being caught by

[code]
higher in the list of all rewrites, because for some reason page rewrites come before the region rewrites.

[2018-01-31 18:34] benlk commented on #38
Shoving the "regex `(.+?)/([^/]+)/?$` feeds `index.php?region=$matches[1]&name=$matches[2]`" rule in at the top of the wordpress list breaks everything that *isn't* a region post: pages, roundups.

But at 'bottom', it doesn't break roundups. It only breaks pages, even with the rewrive_verbose_page_rules method in the Regions Taxonomy class .

The problem here is that add_rewrite_rule requires rese

[2018-01-31 19:18] benlk commented on #38
Issue for chalkbeat mori:

- if url_to_postid doesn't succeed in finding a post ID, the URL of the impact is still saved in post meta, but the URL of the impact is not shown in the meta box on the post admin.
- This was discovered using a custom permalink structure that, while valid, caused url_to_postid to match the wrong regular expression in the rewrite rules, search for the post in the wrong p

[2018-02-01 00:22] #38 closed

[2018-02-12 18:05] #37 closed

[2018-02-12 18:06] benlk opened #41 "Should we set the INN_MEMBER constant?"
Right now, ENN isn't displaying the INN logo. Should it?

[2018-06-25 15:40] #30 closed

[2018-06-25 15:40] #2 closed

[2018-06-25 15:42] #21 closed

[2018-06-25 15:43] benlk commented on #4
This has been completed.

[2018-06-25 15:43] #4 closed

[2019-04-16 21:39] MirandaEcho opened #50 "Align images and text"
Aligned images and text where images and text are currently side by side with text. Insure that the text aligns with the image.

[2019-04-16 21:40] MirandaEcho opened #49 "Post and Homepage layout update"
Blog roll of one-wide column to replace the current page-bottom grid 3/2 post layout on homepage and other locations.
This will include:
- Left thumbnail
- Headline
- Excerpt

[2019-04-16 21:41] MirandaEcho opened #48 "Saved links widget styling"
Styling for the Saved Links widget on the home page and article page side bars: styling for the widget for the homepage and article page sidebars.

[2019-04-16 21:53] MirandaEcho opened #47 "Saved Links widget and Link Roundups plugin"
Specific related issues:
https://github.com/INN/link-roundups/issues/132
https://github.com/INN/link-roundups/issues/141
https://github.com/INN/link-roundups/issues/142

[2019-04-16 21:54] MirandaEcho opened #51 "Sidebar style changes"
Sidebar style changes as determined by mock-up to be provided by client prior to implementation

[2019-04-18 16:38] benlk commented on #49
From https://secure.helpscout.net/conversation/692736424/2743/?folderId=2051037, Ken's mockup:

![homepage mockup version 2 (2)](https://user-images.githubusercontent.com/1754187/56376776-cf47de00-61d6-11e9-9059-f345dd346b3d.png)

[2019-04-18 16:40] benlk commented on #49
Before, the homepage was a row with a span8/span4 split above, then a span12 section of the alternating 3/2 rows of posts. Now, this layout will be a plain span8/span4 split occupying the whole height of the page.

[2019-04-25 14:59] benlk commented on #49
The homepage changes in #52 are ready for the first pass of client review, but those changes only encompass the homepage-bottom changes. It doesn't affect the image alignment from #50 or the layout of region pages, which share a layout with the homepage. If we were to submit it to the client today, we'd want to frame it as:

[2019-04-26 22:12] benlk commented on #51
Did we get a mockup for this?

[2019-04-29 15:13] MirandaEcho commented on #51
@Ben I got a response from Ken, and it seems to be the same mockup as the homepage, so I'm guessing that sidebar in the mockup reflects the changes he wanted to make. He also said:

This is a rough sketch, just to communicate the idea so we don't expect it to look exactly the same.

We talked with Ben about having parts of this drop off for the mobile version.

![homepage mockup version 2 (2)](htt

[2019-04-29 18:40] benlk commented on #49
The homepage bottom changes have been copied to the region pages, and the image alignments in #50 are added.

[2019-04-29 18:40] benlk commented on #50
Should be resolved in #50.

[2019-04-29 19:00] benlk opened #53 "Add Gutenberg alignleft, alignright classes to the existing align-left, align-right CSS"
This is what an old module-wrapper pull quote looks like:

![Screen Shot 2019-04-29 at 14 58 57 ](https://user-images.githubusercontent.com/1754187/56919726-59bdf680-6a8f-11e9-8db5-c0fd3a3bc15d.png)

This is what a Pull Quote Block looks like:

![Screen Shot 2019-04-29 at 14 59 04 ](https://user-images.githubusercontent.com/1754187/56919727-59bdf680-6a8f-11e9-869f-b6e206370f46.png)

- [ ] remove t

[2019-04-30 17:22] MirandaEcho commented on #49
Updates from client review:
For sidebar content: Just the links and the newsletter. Links at the top, signup box, and then the newsletter roundup.

Also, to make sure we're on the same page, the existing boxes for the email digests need to be redesigned; we have a suggestion in the mockup. The existing boxes are confusing and use up too much real estate.

[2019-05-01 18:05] benlk commented on #49
I'll copy that comment into #51, which is the sidebar styles issue.

[2019-05-01 18:20] benlk commented on #51
In testing in #55.

[2019-05-09 16:34] MirandaEcho opened #57 "Sidebar Feedback from Ken"
- [x] Labels in the sidebar are slightly different typeface than the labels in the main column. They should either be identical or notably different. Identical is probably better.
- [x] Use "Top Headlines" instead of "Curated Headlines" at the top.
- [x] Signup box and the daily email digests should be grouped together as one unit with the same color screen behind them (that wasn't very clear in t

[2019-05-14 21:09] benlk commented on #57
This was a mix of config and style changes; which are deployed now.

[2019-06-06 22:01] #48 closed

[2019-06-06 22:01] #50 closed

[2019-06-06 22:01] #49 closed

[2019-06-06 22:01] #51 closed

[2019-06-06 22:01] #47 closed

[2019-06-06 22:05] MirandaEcho opened #59 "Change homepage prominence functions - 4 hour Quicksign"
- change the source of the WP_Post for the homepage top and homepage featured posts from Largo's functions to popping the first three posts off the homepage's main WP_Query, and using them to populate those spaces on the homepages

Helpscout thread: https://secure.helpscout.net/conversation/864348130/3725?folderId=2730118

Told him it would happen next week (week of June 10)

[2019-06-10 14:57] #57 closed

[2020-01-22 17:06] MirandaEcho opened #62 "Digest Page - Discovery and Wireframing"
Requirements:

- [ ] Custom search specific to Digest with date, keywords, region
- [x] - Sign up form on the page
- [x] - Suggest a story & feedback form (with existing Ninja forms plugin)
- [x]     - Suggest a story OR
- [x]     - Other feedback
- [x]     - Name & email (required)
- [ ] - Add donate button with editable CTA
- [ ] - Add links to site-wide FAQs page via anchors
- [ ] - Ability to

[2020-01-22 17:07] MirandaEcho opened #63 "Digest Page - Research for Newsletter Signup"
A consolidated page for MailChimp subscriptions to allow users to manage subscriptions.

[2020-01-22 17:10] MirandaEcho opened #64 "Support - Remove old signup form"
Issue: Subscribers are turning up on an old Mailchimp list- investigate where they’re coming from

HelpScout thread: https://secure.helpscout.net/conversation/997639429/4633/

[2020-01-22 17:11] MirandaEcho opened #65 "Support - Remove digests from more posts feed"
Issue: On Regional pages, when you click "more posts" at the end, it starts pulling in digests as well as posts. There should only be posts on these pages.

HelpScout thread: https://secure.helpscout.net/conversation/998486977/4637/

[2020-01-22 17:11] MirandaEcho opened #66 "Support Tasks - Project Management"

[2020-01-22 20:44] benlk commented on #64
From that thread, we're removing this:

https://github.com/INN/umbrella-energynewsnetwork/blob/5edb6f2112850a887f1c8f87af08123f172cdfdb/wp-content/themes/midwestenergynews/inc/newsletter-shortcode.php#L20-L29

[2020-01-24 00:41] benlk commented on #64
This is now deployed to staging. Compare:

-  the staging URL: https://usenergystage.wpengine.com/2014/12/18/midwest/report-sees-bright-future-for-renewable-energy-in-minnesota/
- the live URL: https://energynews.us/2014/12/18/midwest/report-sees-bright-future-for-renewable-energy-in-minnesota/

[2020-01-24 00:52] benlk commented on #63
Does MailChimp not already provide this to subscribers, via a link in Mailchimp-sent emails?

Or is the idea that this would live on energynews.us?

[2020-01-24 01:27] benlk commented on #65
Reproducible on the midwest region, and after clicking More Posts a few times you can confirm the existence of roundups with the `#homepage-bottom article:not(.type-post)` CSS selector

[2020-01-24 17:51] benlk commented on #65
Deployed to https://usenergystage.wpengine.com/ now.

[2020-02-03 19:51] #65 closed

[2020-02-03 19:52] #64 closed

[2020-02-03 19:59] MirandaEcho opened #71 "Digest Page: Project Management"

[2020-02-03 20:11] MirandaEcho opened #72 "MailChimp Template Discovery and Wireframing"
**New boilerplate sections:**
- Not clear that this is also ENN (in addition to Midwest). Text, redesign of header image, etc.  Their experiments are in the media library in MailChimp
- Static boilerplate byline (can be part of import), editable.
- Prominent links to new subscription management page/digest page
- Communicate that there are other regions they can sign up for (maybe on subscription

[2020-02-03 20:12] MirandaEcho opened #73 "MailChimp Popup"
Replace GetSiteControl popups on the website with Mailchimp popup forms same format as existing site

[2020-02-03 20:12] MirandaEcho opened #74 "MailChimp Template Development"
Design/create a new template for the regional digests based on wireframe

[2020-02-03 20:13] MirandaEcho opened #75 "CSS to fix email text size issue"
The email text size renders too small in Gmail’s mobile apps (both iOS and Android). It has something to do with the photos triggering an auto-resize function in the app. (team to investigate)

[2020-02-03 20:13] MirandaEcho opened #76 "MailChimp template - Project Management"

[2020-02-03 20:15] MirandaEcho commented on #72
Note from Kay in Slack:

let’s add this section from their last campaign:

***YOUR AD HERE: Every day, Energy News Network email digests reach thousands of highly engaged professionals. Click here for more information on how to get your promotion to our audience.***

let’s make it a separate boilerplate as well

[2020-02-03 20:17] MirandaEcho opened #77 "Add search bar to digest page and search results page"
Custom form search for digest page, with date pickers, region picker.

[2020-02-03 20:17] MirandaEcho opened #78 "Move sign up form higher up on page"

[2020-02-03 20:18] MirandaEcho opened #79 "Feedback/suggest a story form"
Users to select if this is feedback/suggest a story. Email, First Name, and Last Name will be required. Assumes that responses are going to an email address. This form will look like other forms on the website with the same styling.

[2020-02-03 20:18] MirandaEcho opened #80 "Make donate CTA more prominent"
Add button to the editable area.

[2020-02-03 20:19] MirandaEcho opened #81 "Link to sitewide FAQ"
Ken will create anchors.

[2020-02-03 20:19] MirandaEcho opened #82 "Digest page: Testing & QA"

[2020-02-03 20:23] #66 closed

[2020-02-06 18:47] benlk commented on #75
Can we get a copy of one of these emails?

[2020-02-06 19:58] benlk commented on #77
From discussion in https://innorg.slack.com/archives/G0W8T58CQ/p1581009729002400 regarding the mockup in that message:

- Sidebar on this page will be a widgetized sidebar, containing:
    - the signup form
    - the subscription management button
    - contact form
- FAQ button will link off to another page; can probably be expressed as part of the term meta description. See https://github.com/IN

[2020-02-06 21:20] benlk commented on #77
Known parts of this:

- [ ] category template
- [ ] search box
- [ ] instructions for creating/setting sidebar to be used on this category

[2020-02-06 23:29] benlk commented on #77
For unknown reasons, creating a sidebar named "Digest Sidebar" in Theme Options > Layout > Sidebar Options, and saving that sidebar in the sidebar picker at Posts > Categories > "Digests" > edit > Archive Sidebar, results in that sidebar not being found by the elaborate fallback queue in `sidebar.php`, and as a result the sidebar is not output.

The value that is saved in that sidebar's term meta

[2020-02-07 20:31] benlk commented on #77
![Screen Shot 2020-02-07 at 15 30 50](https://user-images.githubusercontent.com/1754187/74063650-d7b81200-49be-11ea-8ded-ef89359588a7.png)

A QA thing that may come up later: Right now these are checkboxes, so that we can search for digests in more than one region. But during testing, I haven't seen any in more than one region. Is it okay to leave these as checkboxes, or should we swap to radio in

[2020-02-07 22:09] MirandaEcho commented on #77
Checkboxes are fine.  Use case: I'm a user interested in stories just in the Midwest but also Nationally, and would like to see a list with both.

[2020-02-07 22:11] benlk commented on #77
Should this be an AND or an OR search? Right now it's AND, and will only show articles at the overlap of the Midwest and National regions, which as of this morning are a total of 0 posts.

[2020-02-07 22:11] MirandaEcho commented on #77
How complex is the switch?

[2020-02-07 22:13] benlk commented on #77
~5 minutes to add `'relation' => 'OR',` to an array.

[2020-02-07 22:14] MirandaEcho commented on #77
Please go ahead with that, thanks @benlk !!

[2020-02-07 23:41] benlk commented on #77
![Screen Shot 2020-02-07 at 18 41 10](https://user-images.githubusercontent.com/1754187/74073757-705b8b80-49d9-11ea-8f81-ffb6d3ebac36.png)

Present styles.

[2020-02-10 16:09] benlk commented on #78
Which signup form, on which pages?

[2020-02-10 16:10] benlk commented on #79
The research and development here regarding the feedback form shouldn't be blocked by #77/#83; the only aspect of #83 that blocks it is placing it on the page in the sidebar.

[2020-02-10 16:10] benlk commented on #80
Which editable area?

[2020-02-10 16:11] benlk commented on #81
This will probably be implemented by changing the HTML in the digest term description.

[2020-02-10 16:15] benlk commented on #77
Date range.

[2020-02-10 16:22] benlk commented on #73
- [ ] what do the current popups look like?
- [ ] what will we need to do to remove the Get Site Control popups?
- [ ] what form does MailChimp's popup code take?
- [ ] what style changes are needed to make Mailchimp's popups look like the GSC popups?

[2020-02-10 16:41] joshdarby commented on #79
Do we know if they have a Gravity Forms license/do we want to provide them with one? We could use the GF Conditional Logic to change fields based on if feedback or suggest a story is selected.

Or do we want to custom develop this?

[2020-02-10 18:02] joshdarby commented on #79
Looks like they're using Ninja Forms for all/most of their plugins on the site currently, so I'm building the new one through that plugin.

I've added the new feedback/suggestion form to the staging homepage sidebar for now
https://usenergystage.wpengine.com/

And also to a sample sidebar (until we can add it to the digest page from #83):
https://usenergystage.wpengine.com/2020/01/22/midwest/michi

[2020-02-10 18:02] joshdarby commented on #79
Feedback selected:
![Screen Shot 2020-02-10 at 1 02 18 PM](https://user-images.githubusercontent.com/18353636/74176409-9c5b5480-4c05-11ea-97e2-e5ce64e67fbb.png)

Suggest a story selected:
![Screen Shot 2020-02-10 at 1 02 24 PM](https://user-images.githubusercontent.com/18353636/74176407-9bc2be00-4c05-11ea-8ff1-f790cf545958.png)

[2020-02-10 20:15] benlk commented on #73
![Screen Shot 2020-02-10 at 15 04 12](https://user-images.githubusercontent.com/1754187/74185422-9de14880-4c16-11ea-8bdc-a17c1a316aab.png)

We will need to remove this GSC code:

https://github.com/INN/umbrella-energynewsnetwork/blob/555f8663c3e325be0ac4f3aca8faa7559e8a40d5/wp-content/themes/midwestenergynews/inc/header-footer.php#L11-L27

And replace it with MailChimp's code, which looks very sim

[2020-02-10 20:21] benlk commented on #73
This is now blocked by the following questions:

- [ ] Are they using per-popup code or the "Connected Sites" functionality?
- [ ] What's the code, and where does it go?

Once we have answers to those questions, we'll be able to proceed on styling the popup.

[2020-02-10 20:23] MirandaEcho commented on #73
@benlk - which is recommended for the first question? They aren't using anything now, so we need to recommend the best approach.

We have access to their MailChimp account to get any code we need from that.

[2020-02-10 20:34] benlk commented on #73
It looks like the Connected Sites feature is more about ecommerce, and they already have Insert Headers and Footers installed/active, so I'd recommend we go with the standard popup code generator inserted via IHF. The only code changes necessary on the site would be to remove the GSC code from the theme template, and deactivate GSC on staging/prod.

[2020-02-10 21:21] benlk commented on #78
The current order of things in the sidebar that appears at https://energynews.us/category/digest/ is as follows:

1. Saved Links
2. Mailchimp subscribe form, as a custom widget
3. Recent digests, in the form of one Link Roundups widget per region, for a total of 5.

The wireframe shows:

1. Signup form
    <img width="253" alt="Screen Shot 2020-02-10 at 16 12 33" src="https://user-images.githubuse

[2020-02-10 21:27] benlk commented on #80
The wireframe doesn't appear to have a different placement from the current site header?

[2020-02-10 21:28] benlk commented on #81
Waiting for link from client.

[2020-02-10 22:11] benlk commented on #63
Maybe this link? https://mailchimp.com/help/find-unsubscribe-link-audience/

But that only works if they're all in one Audience.

[2020-02-10 22:16] benlk commented on #63
Questions that require Mailchimp access to research:

- [ ] are they all in one audience?
- [ ] if so, is there a single manage subscription link that's available to people in that audience?
- [ ] if not, are there alternatives?

[2020-02-10 22:47] benlk commented on #63
- ENN is migrating everyone to a single audience
- currently asking MC if there's a single public link to the manage-subscription page

[2020-02-10 23:02] benlk commented on #63
There is not a single public link to the manage-subscription page.

**tl;dr:** we can't provide a button to take people to "Manage your subscription".

<img width="265" alt="Screen Shot 2020-02-10 at 18 02 18" src="https://user-images.githubusercontent.com/1754187/74198479-7ea2e500-4c2f-11ea-9090-0ba122897b52.png">

[2020-02-11 00:14] kaylima commented on #63
@benlk  can we design the field to be something like:
"Enter the email used to subscribe" and then "thank you, check your email for instructions on how to manage your subscriptions"... or something more condensed? cc @MirandaEcho

[2020-02-11 01:16] MirandaEcho commented on #63
The page is actually called "manage profile", and can be added with a merge tag to any email list, so wouldn't we be able to copy that link and use that?

[2020-02-11 01:43] MirandaEcho commented on #63
Deleted my last comment after seeing the chat from MailChimp.  The approach Kay outlined makes sense, would that work?

[2020-02-11 01:49] benlk commented on #63
So here's the code of a standard signup form for this audience:

[code]

The key bit is `<div class="response" id="mce-success-response" style="display:none"></div>`

It makes sense to me that we could put the message there, but we won't know until we try it.

[2020-02-11 01:51] MirandaEcho opened #84 "ESTIMATE NEEDED: Signup form on all mobile pages"
We need an estimate for what it would take to add a signup form to all mobile pages on the site.  This could be in the mobile nav, adding a section to the top that only displays on mobile, etc.  We can discuss at scrum if needed, otherwise please add thoughts on an estimate here. Thanks!

[2020-02-11 02:14] benlk commented on #73
The popup generator at https://us7.admin.mailchimp.com/lists/signup-forms/popup/editor?site=true&id=49425 — or other popup generators found by going to Audience > the audience > Signup Forms > Subscriber pop-up — can be used to generate a form whose code looks like this:

[code]

There are a number of customization options; the options aren't reflected in the code that's put on the page.

In theor

[2020-02-11 16:48] benlk commented on #73
Marking as "Status: Needs Client Approval/Input" until we get a popup code from Ken.

[2020-02-11 17:15] benlk commented on #84
A newsletter signup form already exists on most pages on the site, in the main sidebar. However, this form is currently hidden from view on mobile, as seen on https://energynews.us/digests/natural-gas-bans-draw-skepticism-from-utility-regulators/ and https://energynews.us/2020/02/11/west/colorado-legislators-take-up-proposal-for-renewable-natural-gas-standard/

What we could do is put the newslett

[2020-02-11 17:30] benlk commented on #84
We can use the "Header Ad Zone" widget area. Improvements to styling, once we know what signup form we're using, would take up to two hours.

Here's what the current "ENN Mailchimp Signup" widget looks like in the "Header Ad Zone" widget area on article pages:

![Screen Shot 2020-02-11 at 12 27 53](https://user-images.githubusercontent.com/1754187/74261968-050c0500-4cca-11ea-9679-fbd5ca6c3186.png)

[2020-02-11 20:35] joshdarby commented on #73
From @MirandaEcho on Slack:

[2020-02-11 20:53] benlk commented on #73
Neither `New Project (3).pdf` nor `New Project (1).pdf` have wireframes for the popup. Mailchimp provides the following, which is probably what it'll look like unless we modify the styles:

![Screen Shot 2020-02-11 at 15 51 38](https://user-images.githubusercontent.com/1754187/74277971-6b9f1c00-4ce6-11ea-969c-b7a8bdacb5d5.png)

A certain amount of style modification is available within the MailChi

[2020-02-12 17:19] benlk commented on #73
From Scrum this morning: go ahead and create the popup ourselves.

[2020-02-12 18:28] benlk commented on #73
Mailchimp allows the creation of one (1) popup form for any given audience.

I've created one for "All digest subscribers" and added it to staging via Insert Headers and Footers: https://usenergystage.wpengine.com/

the code:
[code]

The editor: https://us7.admin.mailchimp.com/lists/signup-forms/popup/editor?site=true&id=49425

[2020-02-12 18:36] benlk commented on #73
Staging is now running with `isDebug: true`.

Firefox' [Enhanced Tracking Protection](https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop) feature does block the Mailchimp form from loading.

When ETP is disabled, the popup still fails to load in Firefox, because the popup's JS is using a browser API in a deprecated way:

In Chrome, the popup loads:

![usenergystage w

[2020-02-14 02:56] #62 closed

[2020-02-14 16:21] joshdarby commented on #79
The radio buttons being cut off should be fixed now
![Screen Shot 2020-02-14 at 11 21 41 AM](https://user-images.githubusercontent.com/18353636/74548626-34b24b80-4f1c-11ea-9640-577b80ae44cb.png)

[2020-02-15 01:20] MirandaEcho commented on #79
@joshdarby looks good!

[2020-02-15 02:01] MirandaEcho commented on #84
We have approval from Ken to proceed with this for an additional two hours, so I'll update it when I update the rest of the issues.

[2020-02-18 01:08] #80 closed

[2020-02-18 01:08] #78 closed

[2020-02-18 01:09] #63 closed

[2020-02-18 01:12] #81 closed

[2020-02-18 01:12] MirandaEcho opened #86 "Create digest page from Wireframe"
[ENN Digest Page Wireframe (1).pdf](https://github.com/INN/umbrella-energynewsnetwork/files/4216888/ENN.Digest.Page.Wireframe.1.pdf)

- [ ] Create template (if not done already)
- [ ] Set up widget areas
- [ ] Text area at top for description, link to FAQ page (pending link from ENN)
- [ ] Add search to top
- [ ] List of posts under search
- [ ] Insert widgets in sidebar

[2020-02-18 15:57] kaylima commented on #72
[ENN Digest & Newsletter.pdf](https://github.com/INN/umbrella-energynewsnetwork/files/4220125/ENN.Digest.Newsletter.pdf)

**NOTES:**
- didn't add the "YOUR AD HERE" section, they can use the optional promotion box for that.
- I recommend they use the same fonts as their website: helvetica in caps and georgia for body text.
- the dividers will be double lines similar to the one in the sidebar here:

[2020-02-18 21:15] #8 closed

[2020-02-18 21:21] benlk commented on #86
- [x] Create template (if not done already)
    - done in https://github.com/INN/umbrella-energynewsnetwork/pull/83 for https://github.com/INN/umbrella-energynewsnetwork/issues/77
- [ ] Text area at top for description, link to FAQ page (pending link from ENN)
    - pending configuration info from ENN; is pure config.
- [x] Add search to top
    - done in #83 for #77
- [x] List of posts under sear

[2020-02-18 21:21] benlk commented on #8
(Closed this because it's from 2018)

[2020-02-18 21:31] benlk commented on #77
Is this issue obsoleted by #86?

[2020-02-18 21:36] MirandaEcho commented on #77
#86 specifies adding it to the actual pages, if not done already.

[2020-02-18 21:37] benlk commented on #77
The search form was added in PR #83, which is merged, but not yet deployed to https://usenergystage.wpengine.com/category/digest/

[2020-02-18 22:38] benlk opened #87 "Post-deploy configuration changes"
As PRs get merged and deployed to staging, make notes here for items that will need to be configured on prod.

[2020-02-18 22:39] benlk commented on #87
- [ ] Add the code from https://github.com/INN/umbrella-energynewsnetwork/issues/73#issuecomment-585350704 to the Insert Headers and Footers plugin settings.

[2020-02-18 22:43] benlk commented on #84
Config:
- [ ] add widget to widget area
- [ ] set widget to only show on mobile

Dev:
- [ ] consistency of styles

Admin:
- [ ] add note to the deployment issue

[2020-02-18 23:05] MirandaEcho commented on #86
I thought we had decided to hardcode it given the difficulty, so let's go ahead with that.

[2020-02-19 00:11] benlk commented on #84
PR #88 now ready for review.

[2020-02-19 16:33] benlk commented on #87
- [ ] The widget addition as described in https://github.com/INN/umbrella-energynewsnetwork/pull/88

[2020-02-19 21:42] benlk commented on #86
![Screen Shot 2020-02-19 at 16 41 06](https://user-images.githubusercontent.com/1754187/74879240-b5b37d80-5336-11ea-874b-26e30e1c7f16.png)

@MirandaEcho I'm guessing that we should add some padding to these textwidgets?

[2020-02-19 22:13] MirandaEcho commented on #86
@benlk - yes please. We didn't budget any fancy styling, but some basic cleanup would be good. Lets remove the border and make the button match the other button in the sidebar, at least.

Also, what's up with the description/title for the subscribe widget and all that extra text there?

[2020-02-19 22:27] benlk commented on #86
In that screenshot, I used a Ninja Forms widget. That's what the widget was configured to output.

We should ask them if they're using Ninja Forms for the mailchimp signups now rather than the ENN Mailchimp Subscribe widget we built them.

[2020-02-20 00:02] benlk commented on #86
The default style of the widget is to have padding and border; it looks like Largo removes the padding at certain viewport sizes:

https://github.com/INN/largo/blob/1744bbc7ae99f501129d158c3b585cddf6b5409e/less/inc/widgets.less#L214-L222

The theme contains a style that removes the borders when the widget has the "Reverse" background class applied, so not removing the border here is more-respectin

[2020-02-20 01:39] benlk commented on #86
There's CSS being injected via the Customizer that makes the Ninja Forms button wider than the column on some screen sizes:

[code]

And a lot of other CSS affecting the Ninja Form.

Here's where I ended up at on Desktop:

![Screen Shot 2020-02-19 at 20 15 21](https://user-images.githubusercontent.com/1754187/74891299-ad6a3b00-5354-11ea-8e30-61e2321f7193.png)

And on Mobile:

![Screen Shot 2020-02

[2020-02-26 18:17] kaylima commented on #74
1. Log into INN's MailChimp account
2. Choose the ENN account
3. "Replicate" the NE Digest template https://us7.admin.mailchimp.com/templates/
4. Make updates to the copy of the NE Digest to reflect the wireframe below:

[ENN Digest & Newsletter.pdf](https://github.com/INN/umbrella-energynewsnetwork/files/4257422/ENN.Digest.Newsletter.pdf)

**Additional requirements:**

- [ ] add "CONTACT" to the

[2020-02-26 21:01] joshdarby commented on #74
@kaylima Can you explain a little more where this font should be used?

[2020-02-26 21:53] joshdarby commented on #74
@kaylima I think this is ready for review, mainly because I think I'm at a point where I could use input on fonts and general styling now that the main layout is in place.

https://us7.admin.mailchimp.com/templates/edit?id=59735

![screencapture-us7-admin-mailchimp-templates-edit-2020-02-26-16_52_57](https://user-images.githubusercontent.com/18353636/75391655-819d0700-58b8-11ea-86f3-1cd6b7d3f6d9.p

[2020-02-26 22:05] kaylima commented on #74
@josh let's:
- make the header logo bigger
- move the ENN logo in the footer down a bit from the other text and add the Fresh Energy logo to the right @MirandaEcho has those files, I believe

Anything else you would update @MirandaEcho ?

[2020-02-26 22:14] MirandaEcho commented on #74
The logo files might already be in MailChimp right? if not I'll look around

[2020-02-27 17:16] joshdarby commented on #74
Here's an updated screenshot with:

- bigger header logo
- "Subscribe" moved on top of nav box
- more spacing between footer text and bottom logos
- fresh energy logo added to footer logo area

![screencapture-us7-admin-mailchimp-templates-edit-2020-02-27-12_15_16](https://user-images.githubusercontent.com/18353636/75468300-02144400-595b-11ea-8df3-d61c593538eb.png)
![Screen Shot 2020-02-27 at 12 1

[2020-02-27 18:25] joshdarby commented on #74
Full mobile screenshot:

![screencapture-us7-admin-mailchimp-templates-preview-template-2020-02-27-13_21_27](https://user-images.githubusercontent.com/18353636/75474252-a484f500-5964-11ea-9804-0d99e9bb733f.png)

[2020-03-02 18:07] joshdarby commented on #79
@MirandaEcho This is now on the digest page on staging

https://usenergystage.wpengine.com/category/digest/

[2020-03-11 19:49] benlk commented on #82
@MirandaEcho do you have links to example search queries for the "US Energy news shows up when just Midwest is checked" case?

[2020-03-11 19:53] joshdarby commented on #82
@MirandaEcho The email form is already required.

[2020-03-11 20:05] joshdarby commented on #82
@MirandaEcho These are already set to be pretty short, but the formatting of these articles is what's throwing it off I think. Can we set custom excerpts in the excerpt field like they've been doing for every other post?

[2020-03-11 20:15] benlk commented on #82
Confirmed at https://usenergystage.wpengine.com/category/digest/?digest-search=&search+submit=&after=&before=&digest-search-region%5B%5D=northeast&digest-search-region%5B%5D=southeast :
The post https://usenergystage.wpengine.com/digests/utah-legislature-set-to-tackle-climate-change/ showed up, with the "Western Energy News" top term.

The digest's `post_class` list shows: `id="post-1669514" class

[2020-03-11 20:29] benlk opened #90 "Regions taxonomy does not appear in Block Editor"
The Region metabox panel doesn't appear in the Document panel in posts that use the Block Editor. This is what should appear, but doesn't:

![Screen Shot 2020-03-11 at 16 28 19](https://user-images.githubusercontent.com/1754187/76460994-6b617180-63b5-11ea-89d6-efcd8113409f.png)

This is a one-line fix that will make diagnosing https://github.com/INN/umbrella-energynewsnetwork/issues/82#issuecommen

[2020-03-11 21:24] MirandaEcho commented on #82
@benlk: https://usenergystage.wpengine.com/category/digest/?digest-search=utah&search+submit=&after=&before=&digest-search-region%5B%5D=midwest

[2020-03-11 21:46] benlk commented on #82
Every digest in this search results page that has a top term of the "US Energy News" category has the "Midwest" region term set.

The search is operating as designed: it's returning results from the Midwest region.

[2020-04-01 14:51] MirandaEcho commented on #74
@joshdarby - can you give the template one last check over including making sure all menu links and digest links are working appropriately? Thanks!

[2020-04-01 14:51] joshdarby commented on #75
How did we determine this?

[2020-04-01 14:55] MirandaEcho commented on #75
"It has something to do with the photos triggering an auto-resize function in the app – when you remove the photos the text looks fine"

As it arrives:
![image](https://user-images.githubusercontent.com/48263361/78151973-d0c9e080-73fe-11ea-9465-7a04d1a46196.png)
After "revert auto-sizing" is selected:
![image](https://user-images.githubusercontent.com/48263361/78152005-dcb5a280-73fe-11ea-9493-d511

[2020-04-01 19:56] joshdarby commented on #75
So I'm only able to recreate this the opposite way of how it's reported:

- With image, text is small but there's no revert auto sizing button
- Without image, text is large but there is a revert auto sizing button

The common solution seems to be something like this, but it isn't having much of an effect that I can see:

https://stackoverflow.com/questions/18388779/is-there-a-method-of-turning-of

[2020-04-01 20:35] joshdarby commented on #75
Response from MC:

https://d.pr/v/Q27Nab

Edit and Test Mobile Styles in a Campaign: https://eepurl.com/dyilwD

[2020-04-01 20:40] joshdarby commented on #74
- [ ] Do we want to link all of the header/footer logos to their respective sites?
- [ ] What url should the `US` header link go to?

[2020-04-02 00:13] MirandaEcho commented on #74
Yes, please!

The "national" category for digests. Thanks!

[2020-04-02 00:18] MirandaEcho commented on #73
Has this been merged/completed on staging?

[2020-04-02 16:22] joshdarby commented on #74
The template has been updated to with those two changes.

[2020-04-10 14:01] joshdarby commented on #63
So this actually requires a few more steps from the user than just
- fill out form
- get email to manage subs

What it actually looks like is
- fill out form
- form opens link to page that looks like this
![Screen Shot 2020-04-10 at 9 58 11 AM](https://user-images.githubusercontent.com/18353636/78996090-de274f00-7b11-11ea-826d-1e4a8fe11e80.png)
- user must click "click here to update your profile"

[2020-04-10 14:16] joshdarby commented on #63
The sidebar on staging has been updated with a manage subscription form. It can be tested here https://usenergystage.wpengine.com/category/digest/

![Screen Shot 2020-04-10 at 10 16 23 AM](https://user-images.githubusercontent.com/18353636/78997340-61e23b00-7b14-11ea-9b2e-a842c0bf33b2.png)

[2020-04-22 15:30] benlk commented on #73
In Chrome and Safari:

    at p (embed.js:2)
    at Function.q.getText (embed.js:2)
    at ra (embed.js:2)
    at b (embed.js:2)
    at embed.js:2
    at ka (embed.js:2)
    at oa (embed.js:2)
    at Ma (embed.js:2)
    at d (embed.js:2)
    at embed.js:2
    at ja (embed.js:2)
    at ja (embed.js:2)
    at embed.js:2
    at ka (embed.js:2)
    at Ma (embed.js:2)
    at q (embed.js:2)
    at embed

[2020-04-24 16:14] #90 closed

[2020-04-24 16:17] benlk commented on #87
- [ ] on the digest page, make sure that the feedback form is the last one in the sidebar: Subscribe, Manage, Feedback

[2020-04-24 16:23] benlk opened #93 "Digest search page revisions, part 1"
- [ ] label the search input with a label, replacing the `placeholder` attribute

[2020-04-24 16:42] benlk opened #94 "Digest Search Page modifications, part 2"
Individual result items:
- [ ] create a custom partial for use on this page
- [ ] remove excerpts
- [ ] add publish date

Overall behavior:
- [ ] sort and group results by region term
    - [ ] if a post is in multiple regions, does it show in one or in all regions?
    - [ ] What order do regions appear in? Can this order be hardcoded, or does it need to be configurable by ENN?
- [ ] before each

[2020-04-24 18:20] benlk commented on #73
[code]
Works.

[code]

Does not. The difference is the value of `isDebug`: when set to `true`, we get the `xhrFailed` error. I've set it to `false`, and the popup now works in Firefox, Chrome, and Safari.

[2020-04-24 18:44] benlk commented on #93
:deployed:

[2020-04-24 20:39] benlk commented on #75
On Android, I'm noticing that if we replace the 600px wide images with 400px wide images, the text before "Revert Auto Sizing" is larger.

My guess is that Gmail is sizing the container width based on the image contained within it, then laying out text proportional to the image's intrinsic size, and then shrinking the whole document to fit within the viewport, which decreases the apparent font siz

[2020-04-24 22:11] MirandaEcho commented on #94
Ken opted for the shorter approach: only removing the excerpts form the digest page list (on only this category, not all categories) and adding in the date for each post.

[2020-04-24 22:12] benlk commented on #94
I'll make a separate issue for that, then.

[2020-04-24 22:12] #94 closed

[2020-04-24 22:13] benlk opened #96 "Digest Search Page modifications, part 2"
This issue replaces https://github.com/INN/umbrella-energynewsnetwork/issues/94

Individual result items:
- [x] create a custom partial for use on this page
- [x] remove excerpts
- [x] add publish date

[2020-04-25 00:04] benlk commented on #96
For reasons related to

![Screen Shot 2020-04-24 at 19 20 13](https://user-images.githubusercontent.com/1754187/80264030-a74c4f80-8660-11ea-8b95-c443da3d488b.png)

[2020-05-09 22:37] benlk opened #99 "Revisions, part Saturday"
https://secure.helpscout.net/conversation/1160744971/5479/?

- check that WordPress widgets are pointed to the correct list
- check that Mailchimp popup form is pointed to the correct list
- get Digest page search to search post_content of digests​​​​

[2020-05-09 23:30] benlk commented on #99
The ENN Mailchimp Signup widgets included in the theme appear to be set to feed into the "All Digest Subscribers" list. They've been going to that list for at least the last 3 years: https://github.com/INN/umbrella-energynewsnetwork/blame/master/wp-content/themes/midwestenergynews/inc/widgets/mwen-mailchimp.php#L28

The Ninja Forms widget with name ""

The Mailchimp popup has been recreated in the

[2020-05-09 23:39] benlk commented on #99
The Ninja Forms signup widget used on the homepage, "Subscribe to Energy News Updates - Journity Group Assignment - Widget", feeds into Zapier. I have no visibility on where that goes; we don't appear to have a login for their Zapier.

[2020-05-09 23:42] benlk commented on #99
The Ninja Forms widget needs style work if we're to get it to appear in the mobile header; it did not appear prettily there. Top is the ENN Mailchimp Signup widget; bottom is the Ninja Forms widget.

![Screen Shot 2020-05-09 at 19 41 10](https://user-images.githubusercontent.com/1754187/81487641-1dd67900-922d-11ea-8500-d54bba727f1c.png)

[2020-05-12 16:20] MirandaEcho opened #100 "Quicksign for additional edits"
- [ ] Update the signup forms to the new list in all places
- [ ] Update manage subscription form to the new list
- [ ] Investigate and hopefully solve the date parameter issue. If not, present a solution.

[2020-05-13 04:18] benlk commented on #100
This was the old form design:

![Screen Shot 2020-05-13 at 00 12 58](https://user-images.githubusercontent.com/1754187/81770534-8e3ffd00-94ae-11ea-826e-3a3cee897eef.png)

It was basically a signup form, which would send a confirmation email to the signing-up person asking them to choose their regional interests.

The new list has GDPR requirements enforced by Mailchimp. The boilerplate "condensed"